form {
  max-width: 500px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 2rem;
  border: 0.3rem yellow solid;
}

.cook-book {
  display: flex;
  flex-direction: column;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: aquamarine;
}

.cooking-step,
.ingredient {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.cook-book-input {
  padding: 1rem;
}

.level,
.duration {
  width: 191px;
  padding: 1rem;
}
.new-igredient-container,
.new-step-container {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.new-ingredient,
.new-step {
  background-color: seagreen;
  font-size: 18px;
  border-radius: 0.3rem;
  padding: 1rem;
}




